.carousel-container {
    position: relative;
    overflow: hidden;
    margin-top: 44px;

    .carousel {
        display: flex;
        transition: transform 0.5s ease;

        &__item {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    .carousel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &.prev-btn {
            left: 10px;
        }

        &.next-btn {
            right: 10px;
        }
    }
}
