@use 'variaveis'; // Importação do arquivo de variáveis


.hero {
    padding: 5.6vw; // Espaçamento interno
    min-height: 50vh; // Altura mínima
    background-image: url(../images/hod-background_desktop.avif); // Imagem de fundo para desktop
    text-align: center;
    background-size: cover; // Cobertura total do fundo
    object-fit: cover;
    

    

    @media (max-width: 767px) {
        // Smartphones grandes
        background-image: url(../images/hod_celular.avif); // Imagem de fundo para celular


}

}