@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    max-width: 1200px;

    h3 {
        margin-left: 100px;
        color: #fff;
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        div {
            max-width: 320px;
            margin-left: 100px;
            margin-top: 40px;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                width: 320px;
                border-radius: 4px;
                align-items: center;
            }

            h4 {
                margin-top: 5px;
                color: variaveis.$corTituloH4;
                text-align: justify;

                
            }

            p {
                text-align: justify;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            margin-top: 40px;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            text-align: center;
            margin-left: 100px;
            
            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }
        }
    }

    .button-container {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        margin-left: 100px;

        .temporada_1-button {
            padding: 15px 30px;
            font-size: 18px;
            background-color: variaveis.$corBotao;
            color: #fff;
            border: solid;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: 'Game of Thrones';
            text-transform: uppercase;

            &:hover {
                background-color: variaveis.$corBotaoHover;
            }
        }
    }


    ul {
        margin-top: 20px;

        .temporada_2-trailer-verdes,
        .temporada_2-trailer-pretos {
            padding: 15px 30px;
            
            font-size: 18px;
            background-color: variaveis.$corBotao;
            color: #fff;
            border: solid;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: 'Game of Thrones';
            text-transform: uppercase;
            width: 500px;
            margin-left: 20px;
            justify-content: center;
            
            &:hover {
                background-color: variaveis.$corBotaoHover;
            }
        }
    }
}



