@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    max-width: 1200px; 
    margin-right: 20px;

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        div{
            max-width: 320px;
            margin-left: 60px;

            
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                width: 320px;
                border-radius: 4px;
                align-items: center;

                
            }

            h4 {
                margin-top: 5px;
                color: variaveis.$corTituloH4;
                text-align: justify;
            }

            p{
                text-align: justify;
            }
        }

        
    }

    &__tabs {
        display: flex;
        justify-content: center;
        
        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }
        }
    }
    .button-container {
        margin-top: 30px; // Espaçamento superior aumentado
        display: flex; // Define o layout como flexível
        justify-content: center; // Centraliza horizontalmente o conteúdo
        text-align: center; // Centraliza verticalmente o conteúdo
        
    }
    
    .temporada_1-button {
        
        padding: 15px 30px; // Aumento do espaçamento interno do botão
        font-size: 18px; // Aumento do tamanho da fonte
        background-color: variaveis.$corBotao; // Cor de fundo do botão
        color: #fff; // Cor do texto do botão
        border: solid; // Remove a borda do botão
        border-radius: 6px; // Borda arredondada
        cursor: pointer; // Altera o cursor para indicar que o botão é clicável
        transition: background-color 0.3s; // Transição suave da cor de fundo ao passar o mouse
    
        &:hover {
            background-color: variaveis.$corBotaoHover; // Altera a cor de fundo ao passar o mouse
        }
    }
    
}


