@use 'variaveis';
.shows {
    padding: 2vw 5.6vw;
    max-width: 1200px;
    h3 {
        margin-left: 100px;
        color: variaveis.$corTextoSecundario;
    }
    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        div {
            max-width: 320px;
            margin-left: 100px;
            margin-top: 40px;
        }
        &--is-active {
            display: grid;
        }
        &__item {
            img {
                max-width: 100%;
                width: 320px;
                border-radius: 4px;
                align-items: center;
            }
            h4 {
                margin-top: 5px;
                color: variaveis.$corTextoSecundario;
                text-align: justify;
                font-size: 20px;

            }

            p {

            border-bottom: 5px solid transparent;
            text-align: center;
            margin-left: 100px;

            
            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            font-family: 'Game of Thrones';
            text-transform: uppercase;
            margin-left: 80px;

            &:hover {
                background-color: variaveis.$corBotaoHover;
            }
        }
    }


    ul {
        margin-top: 20px;

        
        .temporada_2-trailer-verdes,
        .temporada_2-trailer-pretos {
            padding: 15px 30px;

            width: 500px;
            margin-left: 60px;
            justify-content: center;

            
            &:hover {
                background-color: variaveis.$corBotaoHover;
            }

        }
    }
}

    // Media Queries

    @media (max-width: 767px) {
        h3 {
            font-size: 24px;
            margin-left: 10px;
        }

        &__list {
            div {
                margin-left: 10px;
            }
        }

        &__tabs__button {
            font-size: 18px;
            margin-left: 10px;
            margin-top: 10px;
        }

        .button-container {
            margin-left: 10px;
        }

        ul .temporada_2-trailer-verdes,
        ul .temporada_2-trailer-pretos {
            width: 100%;
            margin-left: 0;
        }
    }


}