$corDeFundo:#120c1d;
$corTituloH4:red;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corBotaoHover: #556B2F;
$corBotao: #120c1d;
$corDeFundoBotaoDark: #000;
$corBotoesNav:#8B4513
; /* Vermelho intenso */
$corBotaoIndicador:#fff;


