$corDeFundo:#120c1d;
$corTituloH4:red;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corBotaoHover: rgb(28, 68, 28);
$corBotao: #120c1d;
$corDeFundoBotaoDark: #000;
$corBotoesNav:#8B4513
; /* Vermelho intenso */
$corBotaoIndicador: rgb(28, 68, 28);
$corBotaoIndicadorHover: #8b0000;

