@use 'variaveis';
@use 'hero';
@use 'elenco';
@use 'shows';
@use 'footer';

@font-face {
    font-family: "Game of Thrones";
    src: url("../../assets/fonts/Game of Thrones.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    overflow-x: hidden;

    header{
        nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Game of Thrones", Arial, sans-serif;
        font-size: 20px;
        position: relative;
        margin-right: 20px;
        object-fit: cover;
    
        img {
            max-width: 200px;
            margin-left: 10px;
        }
    
        .menu-toggle {
            display: none;
            flex-direction: column;
            cursor: pointer;
            
            .bar {
                width: 25px;
                height: 3px;
                background-color: variaveis.$corBotoesNav; // Use variáveis SCSS apropriadas
                margin: 4px 0;
                transition: 0.3s;
            }
    
            &.active .bar:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
    
            &.active .bar:nth-child(2) {
                opacity: 0;
            }
    
            &.active .bar:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    
        ul {
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
            list-style-type: none;
            display: flex;
            align-items: center;
    
            li {
                margin-right: 20px;
    
                &:last-child {
                    margin-right: 0;
                }
    
                a {
                    text-decoration: none;
                    color: variaveis.$corBotoesNav;
                }
            }
        }
    
        @media (max-width: 768px) {
            .menu-toggle {
                display: flex;
            }
    
            ul {
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: variaveis.$corDeFundo;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease-out;
    
                li {
                    margin: 15px 0;
                    text-align: center;
                }
            }
    
            .nav-active {
                max-height: 500px; // Defina um valor grande o suficiente para acomodar todos os links
            }
        }
    }}
    
    
    

    h2, h3 {
        text-align: center;
        margin-top: 20px;
        font-family: "Game of Thrones", Arial, sans-serif;
    }

    section {
        padding: 20px;
        object-fit: cover;
        
        p {
            text-align: center;
            justify-content: center;
            margin-top: 20px;
            color: variaveis.$corTextoPrincipal;
            font-size: 18px;

            &.personagem {
                margin-top: 5px;
            }

            &.text--big {
                margin: 0 20px;
            }
        }
    }

    .sobre_o_livro {
        div {
            .content-wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 20px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                }

                .center-img {
                    max-width: 100%;
                    height: auto;
                }

                .text-wrapper {
                    max-width: 100%;
                }
            }
        }

        .sinopse-livro {
            margin: 0 20px 20px;
        }

        .title--small {
            margin-top: 20px;
            text-align: center;
        }

        .comprar_livro-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        
        .comprar_livro {
            padding: 15px;
            font-size: 18px;
            background-color: variaveis.$corBotao;
            color: #D2B48C;
            border: solid;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: 'Game of Thrones';
            text-transform: uppercase;
            max-width: 100%;
            text-align: center;
        
            &:hover {
                background-color: variaveis.$corBotaoHover;
            }
        }
    }
}

// Media queries
@media (max-width: 320px) {
    body {
        background-color: variaveis.$corDeFundo;
        nav {
            font-size: 14px;

            ul {
                flex-direction: column;
                margin-top: 20px;

                li {
                    margin-bottom: 10px;
                }
            }
        }

        section p {
            font-size: 16px;
        }

        .comprar_livro {
            font-size: 14px;
        }
    }
}

@media (max-width: 480px) {
    body {
        background-color: variaveis.$corDeFundo;
        nav {
            font-size: 16px;

            ul {
                flex-direction: column;
                margin-top: 30px;

                li {
                    margin-bottom: 10px;
                }
            }
        }

        section p {
            font-size: 16px;
        }

        .comprar_livro {
            font-size: 16px;
        }
    }
}

@media (max-width: 768px) {
    body {
        background-color: variaveis.$corDeFundo;
        nav {
            font-size: 18px;

            ul {
                flex-direction: column;
                margin-top: 40px;

                li {
                    margin-bottom: 15px;
                }
            }
        }

        section p {
            font-size: 16px;
        }

        .comprar_livro {
            font-size: 16px;
        }
    }
}

@media (max-width: 992px) {
    body {
        background-color: variaveis.$corDeFundo;
        nav {
            font-size: 18px;

            ul {
                margin-top: 30px;
            }
        }

        section p {
            font-size: 18px;
        }

        .comprar_livro {
            font-size: 18px;
        }
    }
}

@media (max-width: 1200px) {
    body {
        nav {
            font-size: 20px;

            ul {
                margin-top: 40px;
            }
        }

        section p {
            font-size: 18px;
        }

        .comprar_livro {
            font-size: 18px;
        }
    }
}

// Mixins
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

// Classes
.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
    font-family: "Game of Thrones", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 0;
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}
