@use 'variaveis';
@use 'hero';
@use 'elenco';
@use 'shows';
@use 'footer';

@font-face {
    font-family: "Game of Thrones";
    src: url("../../assets/fonts/Game of Thrones.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    overflow-x: hidden;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Game of Thrones", Arial, sans-serif;
        font-size: 20px;

        img {
            max-width: 370px;
            margin-left: 10px;
        }

        ul {
            list-style-type: none;
            margin-top: 50px;
            display: flex;
            align-items: center;
            margin-right: 20px;

            li {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: variaveis.$corBotoesNav;
                }
            }
        }
    }

    h2, h3 {
        text-align: center;
        margin-top: 20px;
        font-family: "Game of Thrones", Arial, sans-serif;
    }

    section {
        padding: 20px;

        p {
            text-align: center;
            justify-content: center;
            margin-top: 20px;
            color: variaveis.$corTextoPrincipal;
            font-size: 18px;

            &.personagem {
                margin-top: 5px;
            }

            &.text--big {
                margin: 0 100px;
            }
        }
    }

    .sobre_o_livro {
        div {

            .content-wrapper {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 20px;

                @media (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                }

                .center-img {
                    max-width: 400px;
    height: 400px;
    min-height: 50px; /* Adiciona uma altura mínima para garantir que a imagem ocupe espaço */
    
                }

                .text-wrapper {
                    max-width: 500px;
                }
            }
        }

        .sinopse-livro {
            margin: 0 50px 20px;
        }

        .title--small {
            margin-top: 20px;
            margin-left: 300px;
        }

        .text--big {
            margin-top: 10px;
        }

        .comprar_livro-container {
            display: flex;
            justify-content: center;  // Centraliza horizontalmente
            margin-top: 20px;  // Adiciona espaço superior para separação, se necessário
        }
        
        .comprar_livro {
            padding: 10px;
            font-size: 18px;
            background-color: variaveis.$corBotao;
            color: #D2B48C;
            border: solid;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: 'Game of Thrones';
            text-transform: uppercase;
            width: 490px;
            text-align: center;
        
            &:hover {
                background-color: variaveis.$corBotaoHover;
            }
        }
        
    }
}

// Mixins
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

// Classes
.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
    font-family: "Game of Thrones", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 0;
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}
